{% extends 'base/base_content.html' %}

{% block left_content %}
    <aside class="col-sm-3 col-md-2 col-lg-2 sidebar">
        <ul class="nav nav-sidebar">
            <li>
                <a href="{{ url_for('food.to_list') }}">食物管理</a>
            </li>
        </ul>
        <ul class="nav nav-sidebar">
            <li class="active"><a href="{{ url_for('comment.to_list') }}">评论管理</a></li>
        </ul>
        <ul class="nav nav-sidebar">
            <li><a href="{{ url_for('user.to_list') }}">用户管理</a></li>
        </ul>
    </aside>
{% endblock %}

{% block main_content %}
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-lg-10 col-md-offset-2 main" id="main">
        <h1 class="page-header">Welcome</h1>

        <table class="table">
            <thead>
            <tr class="table_header">
                <td>
                    评论编号
                </td>
                <td>
                    评论内容
                </td>
                <td>
                    评论用户
                </td>
                <td>
                    评论食物
                </td>
                <td>
                    评论时间
                </td>
                <td>
                    操作
                </td>
            </tr>
            </thead>
            <tbody>
            {% for comment in page.content %}
                <tr class="row{{ loop.index % 3 }}">
                    <td>
                        {{ comment.id }}
                    </td>
                    <td>{{ comment.comment }}</td>
                    <td>{{ comment.user_id }}</td>
                    <td>{{ comment.food_id }}</td>
                    <td>{{ comment.create_time }}</td>
                    <td>
                        {#<a href="{{ url_for('comment.to_detail', id=comment.id) }}">详情</a>|
                        <a href="{{ url_for('comment.to_update', id=comment.id) }}">修改</a>|#}
                        <a href="javascript:;" onclick="del({{ comment.id }})">删除</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <div class="card-footer clearfix row">
            <div class="col-sm-12 col-md-5">
                <div class="dataTables_info" role="status" aria-live="polite">共 {{ page.total_count }} 条记录</div>
            </div>
            {# 引入页码页面 #}
            {% include 'base/page_num.html' %}
        </div>
    </div>
{% endblock %}

{% block buttom_js_content %}
    <script type="text/javascript">
        console.log('foodList.js ...');

        function del(food_id) {
            const ok = confirm("确认删除吗？");
            if (!ok) {
                return;
            }

            // 验证参数
            if (food_id === undefined || food_id == '') {
                alert('请选择删除的数据');
                return;
            }

            // 封装参数
            let params = {
                id: food_id
            };
            console.log(params);
            $.ajax({
                type: "POST",
                url: "/food/delete",
                dataType: "json",
                data: JSON.stringify(params),
                success: function (res) {
                    // console.log( res );
                    location.reload();
                }
            });
        }

        /**
         * 跳转到指定的页
         */
        function toPageNum(pageNum) {
            // console.log('pageNum=' + pageNum);
            $('#listForm input[name="page_num"]').val(pageNum);
            $('#listForm').submit();
        }


    </script>

{% endblock %}