{% extends 'base/base_content.html' %}

{% block main_content %}
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-lg-10 col-md-offset-2 main" id="main">
        <div class="row">
            <div class="col-md-8">
                <h1 class="page-header">食物详情</h1>
                <form action="/Category/add" method="post" autocomplete="off">
                    <div class="form-group">
                        <label for="category-name">食物编号</label>
                        <input type="text" id="category-name" name="food_id" class="form-control"
                               value="{{ food.food_id }}" readonly="readonly" required autocomplete="off">
                    </div>
                    <div class="form-group">
                        <label for="category-alias">食物名字</label>
                        <input type="text" id="category-alias" name="food_name" class="form-control"
                               value="{{ food.food_name }}" readonly="readonly" required autocomplete="off">
                    </div>
                     <div class="form-group">
                        <label for="category-name">食物能量</label>
                        <input type="text" id="category-name" name="food_cal" class="form-control"
                               value="{{ food.food_cal }}" readonly="readonly" required autocomplete="off">
                    </div>
                     <div class="form-group">
                        <label for="category-name">食物味道</label>
                        <input type="text" id="category-name" name="taste" class="form-control"
                               value="{{ food.taste }}" readonly="readonly" required autocomplete="off">
                    </div>
                     <div class="form-group">
                        <label for="category-name">食物地理位置</label>
                        <input type="text" id="category-name" name="location" class="form-control"
                               value="{{ food.location }}" readonly="readonly" required autocomplete="off">
                    </div>
                    <div class="form-group">
                        <label for="category-describe">评论</label>
                        <textarea class="form-control" id="category-describe" name="describe" rows="4"
                                  autocomplete="off"></textarea>
                    </div>
                    <button class="btn btn-primary" type="submit" name="submit">添加新评论</button>
                </form>
            </div>
            <div class="col-md-4">
                <h1 class="page-header">评论内容<span class="badge"></span></h1>
                <div class="table-responsive">
                    <table class="table table-striped table-hover">
                        <thead>
                        <tr>

                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>1</td>
                            <td>好吃！</td>
                            <td><a href="update-comment.html">修改</a>
                                <a rel="1">删除</a>
                            </td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>还不错！</td>
                            <td><a href="update-comment.html">修改</a>
                                <a rel="2">删除</a>
                            </td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>他家味道真不错！</td>
                            <td><a href="../comment/comment_update.html">修改</a>
                                <a rel="3">删除</a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>
{% endblock %}
